<div id="<%= dom_id article %>">
  <h1>By: <%= article.user.username if article.user %></h1>
  <table>
    <thead>
      <tr>
        <td><strong>Title</strong></td>
        <td> <strong>Description</strong></td>
        <td colspan="3">Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td>
          <% if signed_in? && (article.user.id == current_user.id || current_user.admin?) %>
            <%= button_to 'Delete', article, method: :delete %>
            <%= link_to 'Update', edit_article_path(article) %><br />
          <% end %>
          <%= link_to "Show this article", article %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
