<%= form_with(model: user, local: true) do |f| %>
    <% if user && user.errors.any? %>
        <ul>
            <% user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>
    <p>
        <%= f.label :username %><br />
        <%= f.text_field :username %> 
    </p>
    <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
    </p>
    
    <p>
        <%= f.label :password %><br />
        <%= f.text_field :password %>
    </p>
    
    <p>
        <%= f.submit "Signup" %>
    </p>
<% end %>